* {
  box-sizing: border-box;
}

body, html, #root, .App {
  height: 100%;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.digits {
  font-size: 60px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.digits #seconds:before,
.digits #seconds:after {
  content: ":"
}

.actions {
  margin-top: 15px;
}


.btn {
  padding: 8px 15px;
  border: 0;
  color: #FFF;
  font-weight: bold;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  opacity: 0.8;
}

.btn:hover {
  opacity: 1;
}

.btn[disabled] {
  opacity: 0.3;
  cursor: not-allowed;
}

.btn-start {
  background: green;
}

.btn-pause {
  background: yellow;
  color: #000;
}

.btn-reset {
  background: red;
}